<div *ngIf = "flag" class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2>{{info['username']}}</h2>
                    <p><strong>Address: </strong> {{info['home_address']}} </p>
                    <p><strong>Phone Number: </strong> {{info['phone_number']}} </p>
                   
                </div>             
            </div>           
    	 </div>                 
		</div>
	</div>
</div>

<div *ngIf = "!flag">
    <button routerLink = "/Path">Go To Sign Up / Login Page</button>
</div>